* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}
.p {
  text-align: center;
  margin: 20px;
  padding: 20px;
  box-shadow: 5px 5px 4px 0.5px rgb(1, 100, 100);
  font-size: 24px;
  color: red;
  background: cyan;
}
